.dashboard {
    width: 80%;
    margin: auto;
    * {
        box-sizing: border-box;
    }
    table {
        th,
        td {
            padding: 5px 10px;
            border: 1px solid black;
            vertical-align: middle;
            p {
                margin: 5px 0;
            }
        }
        caption {
            text-align: left;
            margin: 0 0 10px 5px;
            font-size: 15px;
            font-weight: 700;
        }
        width: 100%;
        margin: 0 auto 20px;
        border-collapse: collapse;
    }
}