.login {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: $br-md;
  width: 60%;
  padding: 2rem;
  margin: 0 auto;
}

.button {
  width: 12rem;
  height: 2.5rem;
  border-radius: $br-md;
  color: $white;
  border: none;
  background: $secondary;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  font-weight: bold;
}

.text-input {
  width: 12rem;
  height: 1.5rem;
  border-radius: $br-sm;
  border: 1px solid $light-gray;
  margin-top: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

.checkbox-label {
  flex-direction: row;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}
legend {
  text-align: left;
}
.login-form {
  text-align: left;
}