.task-create {
    * {
        box-sizing: border-box;
    }
    .task-form {
        width: 50%;
        padding: 20px;
        margin: auto;
        text-align: left;
        & > div {
            margin: 10px 0;
        }
        label {
            display: table-caption;
            font-size: 13px;
        }
        input, select, button {
            padding: 5px;
            margin: 5px 0 0 0;
            width: 100%;
        }
        button {
            cursor: pointer;
            font-weight: 700;
        }
        button:active {
            background-color: #42b983;
            border-color: #42b983;
            color: white;
        }
    }
    margin-bottom: 50px;
    .title,
    .description {
        margin-bottom: 10px;
    }
    #platforms:focus-visible {
        border: none;
        outline: #86b7fe auto 5px !important;
    }
}