<template>
  <main class="dashboard">
    <h3 class="page-title">Dashboard view</h3>
    <!-- <table v-if="getMyProfile"> -->
    <b-table-simple class="shadow" hover caption-top v-if="getMyProfile">
      <caption>
        User Profile
      </caption>
      <b-thead head-variant="primary">
        <b-tr>
          <b-th>Marketer / Influencer</b-th>
          <b-th>First Name</b-th>
          <b-th>Last Name</b-th>
        </b-tr>
      </b-thead>
      <b-tbody>
        <b-tr>
          <b-td>Marketer</b-td>
          <b-td>{{ getMyProfile.marketer.firstName }}</b-td>
          <b-td>{{ getMyProfile.marketer.lastName }}</b-td>
        </b-tr>
        <b-tr>
          <b-td>Influencer</b-td>
          <b-td>{{ getMyProfile.influencer.firstName }}</b-td>
          <b-td>{{ getMyProfile.influencer.lastName }}</b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
    <b-table-simple class="shadow" hover caption-top v-if="getMyTask">
      <caption>
        Task
      </caption>
      <b-thead head-variant="primary">
        <b-tr>
          <b-th>Title</b-th>
          <b-th>Description</b-th>
          <b-th>Budget</b-th>
          <b-th>Proposal Count</b-th>
          <b-th>Platforms</b-th>
          <b-th>Added Time</b-th>
        </b-tr>
      </b-thead>
      <b-tbody v-if="getMyTask.tasks?.length">
        <b-tr v-for="(task, index) in getMyTask.tasks" :key="index">
          <b-td>{{ task.title }}</b-td>
          <b-td>{{ task.description }}</b-td>
          <b-td>{{ task.budget.value }}</b-td>
          <b-td>{{ task.proposalCount }}</b-td>
          <b-td>
            <p v-for="(item, index) in task.platforms" :key="index">{{ item }}</p>
          </b-td>
          <b-td>{{ task.addedTime }}</b-td>
        </b-tr>
      </b-tbody>
      <b-tbody v-else>
        <b-tr>
          <b-td>{{ getMyTask.title }}</b-td>
          <b-td>{{ getMyTask.description }}</b-td>
          <b-td>{{ getMyTask.budget.value }}</b-td>
          <b-td>{{ getMyTask.proposalCount }}</b-td>
          <b-td>
            <p v-for="(item, index) in getMyTask.platforms" :key="index">{{ item }}</p>
          </b-td>
          <b-td>{{ getMyTask.addedTime }}</b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </main>
</template>

<script lang="ts">
import useUserData from '@/components/dashboard/dashboard'
import useUserStore from '@/store/user'
import useAuthStore from '@/store/auth'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Dashboard',
  setup() {
    const { setUserStore } = useUserData()
    const { getLocalStorageData } = useAuthStore()
    const userId = getLocalStorageData() || ''
    setUserStore(userId)

    const { getMyProfile, getMyTask } = useUserStore()

    return {
      getMyProfile,
      getMyTask,
    }
  },
})
</script>

<style lang="scss" scoped>
@import '@/assets/styles/views/Dashboard';
</style>
