<template>
  <main class="login">
    <h1 class="page-title">Login view</h1>

    <form class="login-form shadow" @submit.prevent="login">

      <b-form-group label="Email">
        <b-form-input v-model="user.email" type="email" placeholder="Email" required></b-form-input>
      </b-form-group>

      <b-form-group label="Password">
        <b-form-input v-model="user.password" type="password" placeholder="Password" required></b-form-input>
      </b-form-group>

      <b-form-group>
        <b-form-checkbox v-model="user.rememberMe">Remember Me</b-form-checkbox>
      </b-form-group>

      <b-button type="submit" variant="primary">Log In</b-button>
    </form>
  </main>
</template>

<script lang="ts">
import useLogin from '@/components/login/login'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Login',
  setup() {
    const { user, login } = useLogin()

    return {
      user,
      login,
    }
  },
})
</script>

<style lang="scss" scoped>
@import '@/assets/styles/views/Login';
</style>
