<template>
  <main class="task-create">
    <h3 class="page-title">Task Create view</h3>

    <form class="create-task-form" @submit.prevent="createTask">
      <div class="task-form shadow">
        <div class="title">
          <b-form-input v-model="task.title" type="text" placeholder="Title" required></b-form-input>
        </div>
        <div class="description">
          <b-form-textarea
            v-model="task.description"
            placeholder="Description"
            rows="3"
            max-rows="6"
            required
          ></b-form-textarea>
        </div>

        <b-form-group label="Budget:">
          <b-form-input v-model="task.budget.value" type="number" required></b-form-input>
        </b-form-group>

        <b-form-group label="Currency:">
          <b-form-select v-model="task.budget.currency" disabled>
            <b-form-select-option value="USD">USD</b-form-select-option>
          </b-form-select>
        </b-form-group>
        
        <b-form-group label="Platforms:">
          <select v-model="task.platforms" name="platforms" id="platforms" multiple>
            <option value="INSTAGRAM">INSTAGRAM</option>
            <option value="YOUTUBE">YOUTUBE</option>
            <option value="TWITCH">TWITCH</option>
            <option value="TIKTOK">TIKTOK</option>
            <option value="OTHER">OTHER</option>
          </select>
        </b-form-group>

        <b-button type="submit" variant="primary">Create Task</b-button>
      </div>
    </form>
  </main>
</template>

<script lang="ts">
import createRow from '@/components/task/task'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TaskCreate',
  setup() {
    const { task, createTask } = createRow()
    return {
      task,
      createTask,
    }
  },
})
</script>

<style lang="scss" scoped>
@import '@/assets/styles/views/TaskCreate';
</style>
